/* General Styling for Thaali Page */
.content {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.aboutx h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff; /* White for the title */
  font-weight: 700;
  margin-bottom: 1rem;
  animation: slideInFromLeft 1.5s ease-out; /* Title animation */
}

.aboutx p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
  animation: fadeIn 2s ease-out; /* Paragraph animation */
}

/* Blinking down arrow */
.down-arrow {
  margin-top: 20px;
  animation: blink 1.5s infinite;
}

.down-arrow svg {
  color: #8B4513; /* Brown color for the arrow */
}

/* Collection Section */
.Collection {
  padding: 3rem 0;
}

.Collection h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.c0 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.c {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  justify-items: center;
}

.c1 {
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.c1:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .c {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Load More Button Styling */
.loadMoreButton {
  display: block;
  margin: 2rem auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff014f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #ffc401;
}

/* Typography Animations */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Blinking animation for down arrow */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}